<%= form_with(model: ttopic, local: true) do |form| %>
  <% if ttopic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ttopic.errors.count, "error") %> prohibited this ttopic from being saved:</h2>

      <ul>
      <% ttopic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :ttopic_name %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, id: :ttopic_start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time, id: :ttopic_end_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
