<p id="notice"><%= notice %></p>

<h1>Ttopics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ttopics.each do |ttopic| %>
      <tr>
        <td><%= ttopic.name %></td>
        <td><%= ttopic.start_time %></td>
        <td><%= ttopic.end_time %></td>
        <td><%= link_to 'Show', ttopic %></td>
        <td><%= link_to 'Edit', edit_ttopic_path(ttopic) %></td>
        <td><%= link_to 'Destroy', ttopic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ttopic', new_ttopic_path %>
