<%= render partial:"shared/sidebar" %>

<div class="container">
  <div class="container_fluid">
    <div class="row">
    <!--row-->
      <!--某 user 本週教學計畫 -->
      <div class="col-md-9">
        <h2>106 學年度／上學期 1 年 1 班 教學進度表</h2>  
        <h4>科目：數學</h4>
        <h4>時間：Mon 9:20-11:10, Thu 第 3-4 節課</h4>
        <!--教學進度表-->
        <% @classroom.teachingschedules.each do |teachingschedule| %>
          <div class="weekly-prepare row">
            <div class="col-md-11 prepare-detail">
              <h5>
                <%= teachingschedule.classroom.name %> 
                <%= teachingschedule.theme %>  <br>
                <%= teachingschedule.feedback %>
              <h5>

            </div>

            <div class="col-md-1 prepare-storage">
              <!-- 上傳及下載資料的 modal -->
              <div class="prepare-storage-icon">
                <div data-toggle="modal" data-target="#exampleModal2">
                  <%= fa_icon "folder-open 2x", style: 'color:skyblue', alt: 'add file'%>
                </div>
              </div>
            </div> 
          </div>          
        <% end %>
      </div>


      <div class="col-md-3 text-center">  
        <br>
        <div style="font-size: 18px">
          <%= link_to do %>
            <%= fa_icon "chevron-circle-left" %>
          <% end %>
          <%= "#{@date.strftime("%B")}" %>    
          <%= link_to do %>
            <%= fa_icon "chevron-circle-right"%>
          <% end %>
        </div>
        <br>

        <div>   
          <h4>計劃教學單元</h4>
          <br>
          <!-- 想要讓表格直接變表單，不要跳 modal -->
          <div class="row">
            <div class="text-center">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mynewpost">
                新增教學計劃
              </button>
            </div>
          </div>  

          <%= form_for [@classroom,@teachingschedule],remote: true do |f| %>
            <div class="modal fade" id="mynewpost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>

                      <h5 class="modal-title" id="myModalLabel">反思／備註</h5>
                    </div>

                    <div class="modal-body">
                      <div class="field">
                        <%= f.label :theme %>
                        <%= f.text_field :theme, class: 'form-control post_theme', placeholder: "輸入教學主題" %>
                      </div>

                      <div class="field">
                        <%= f.label :feedback %>
                        <%= f.text_area :feedback, class: 'form-control post_feedback', placeholder: "輸入教學後的心得＆反思",rows:"6" %>
                      </div>

                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewpostclose">close</button>
                      <%= submit_tag "create",class:"btn btn-primary" %>
                    </div>
                  </div>
                </div>
              </div>
          <% end %> 



          
          
            
          <div id="container_posts">
            <% @classroom.teachingschedules.each do |teachingschedule|%>    
              <%= render partial:'teachingschedules/teachingschedule', :locals => { :teachingschedule => teachingschedule } %>
            <% end %>   
          </div>
            
                             
        </div>
      </div>
    <!--row-->
    </div>
  </div>
</div>