<div class="container">
    <span class="text-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mynewpost">
      新增教學計劃
    </button>
  </span>
  
  <br>
    <br>
    <h4>科目： <%= @classroom.subjects.pluck(:name).join() %></h4>   
    <h4>班級： <%= @classroom.name %>（<%= @classroom.student %> 人）</h4>
    <%= link_to '以課表首頁檢視', user_lessons_path(@user)  %> || <%= link_to ' 以班級列表檢視', user_classrooms_path(@user)  %>

    <hr class="blue-hr"> 

 
    <div class="row"> 
    <!--row-->
      <div class="col-md-10">
        <div id="container_posts">
          <% if @classroom.topics.count < 1 %>
            <h5>新增卡片請點擊上方的「新增教學計畫」</h5>
            <% @topics.each do |topic|%>  
              <%= render partial:'topics/topic',locals: {topic: topic } %>
            <% end %>
          <% else %>  
            <% @topics.each do |topic|%>  
              <%= render partial:'topics/topic',locals: {topic: topic } %>
            <% end %>
          <% end %>   
        </div>

      </div>

    </div>

  </div>


<%= form_for [@user,@classroom,@topic] do |f| %>
  <div class="modal fade" id="mynewpost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">教學計劃</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <%# modal-body %>
              <!--輸入主題日期開始-->
              <div class="form-group">
                <%= f.label "開始日期" %>
                <%= f.text_field :start_time, id: 'datepicker-start', class: 'form-control post_theme' %>
              </div>
            
              <!--輸入主題日期結束-->
              
              <div class="form-group">
                <%= f.label "結束日期" %>
                <%= f.text_field :end_time, id: 'datepicker-end', class: 'form-control post_theme' %>
              </div>

              <!--輸入教學主題-->
              
              <div class="form-group">
                <%= f.label "教學單元主題" %>
                <%= f.text_field :name, class: 'form-control post_theme', placeholder: "輸入教學主題" %>
              </div>
            
            <%# modal-body  %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewpostclose">close</button>
            <%= submit_tag "create",class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>