<style>
  body{
    margin-bottom: 70px;
  }
</style>

<div class="container">
  <div class="">
    <div class="float-left">
      <h1>管理教學計劃與課程進度</h1>
      <h4>課程： <%= @classroom.subjects.pluck(:name).join() %></h4>  
      <h4>班級： <%= @classroom.name %>（<%= @classroom.student %> 人）</h4>
      <% if @user == current_user %>
        <%= link_to '我的課表', user_lessons_path(@user),style:"font-size:18px;"  %> | 
    
        <%= link_to '檢視班級列表', user_classrooms_path(@user),style:"font-size:18px;"  %>  
      <% end %>
    </div>
    <div class="float-right">
      <%#= link_to '課程設定', edit_user_lesson_path(@user, @lesson), class: "btn btn-outline-dark" %>
    </div>
    <h3 style="display: inline-block;float: right;">今天日期：
      <span style="letter-spacing: 2px;"><%= Time.now.strftime("%Y/%m/%d") %></span>
    </h3>
    <div class="clearfix"></div>

  </div>
  <hr>
  <% if @user == current_user %>
    <span class="text-center">
      <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#mynewpost">
        <h4><%= fa_icon 'plus' %>&nbsp;&nbsp;新增教學計劃</h4>
      </button>
    </span>
  <% end %>
  

  <div id="container_posts">
    <% if @classroom.topics.count < 1 %>
      <h4 style="margin-top: 20px;">新增教學單元請點擊上方的「新增教學計畫」</h4>
      <%# @topics.each do |topic|%>  
        <%#= render partial:'topics/topic',locals: {topic: topic } %>
      <%# end %>
    <% else %>  
      <% @topics.each do |topic|%>  
        <%= render partial:'topics/topic',locals: {topic: topic } %>
      <% end %>
    <% end %>   
  </div>
</div>


      


<%= form_for [@user,@classroom,@topic] do |f| %>
  <div class="modal fade" id="mynewpost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">設定時間／教學主題</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <%# modal-body %>
              <!--輸入主題日期開始-->
              <div class="field">
                <%= f.label "開始日期" %>
                <%= f.date_select :start_time, class: 'form-control post_theme' %>
              </div>
            
              <!--輸入主題日期結束-->
              
              <div class="field">
                <%= f.label "結束日期" %>
                <%= f.date_select :end_time, class: 'form-control post_theme' %>
              </div>

              <!--輸入教學主題-->
              
              <div class="field">
                <%= f.label "教學單元主題" %>
                <%= f.text_field :name, class: 'form-control post_theme', placeholder: "輸入教學主題" %>
              </div>
            
            <%# modal-body  %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewpostclose">close</button>
            <%= submit_tag "create",class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>