<%= render partial: "shared/sidebar" %>

<div class="col text-center">
  <%# week_calendar number_of_weeks: 1 do |date| %>
    <%# date.day %>
  <%# end %>

  <!-- 週曆事件待塞入，格內時間待移至左側 -->
  <div id="simple_calendar">
    <h1>Listing events</h1>

    <%= week_calendar events: @events do |day, events| %>
      <%# t('date.month_names')[start_date.month] %> <%# start_date.year %>
      <% start = day.beginning_of_day %>
      <% ending = day.end_of_day %>

      <% while start < ending do %>
        <div class="day-hour">
          <%= start.strftime("%l%P") %>
        </div>

        <% start += 1.hour %>
      <% end %>
    <% end %>

    <%= link_to 'New Event', new_event_path %>

  </div>

  <div class="well controls" style="padding: 10px">
    <%= link_to calendar_path(date: @date - 1.month), class: "btn btn-default" do %>
      <%= fa_icon "chevron-left", style: 'color:#A3A3A3' %>
    <% end %>
    <%= "#{@date.strftime("%B")} #{@date.year}" %>
    <%= link_to calendar_path(date: @date + 1.month), class: "btn btn-default" do %>
      <%= fa_icon "chevron-right", style: 'color:#A3A3A3' %>
    <% end %>
  </div>

  <%= calendar @date do |date| %>
    <%= date.day %>
  <% end %>
</div>

