
  <div class="col text-center">    
  <div class="well controls" style="padding: 10px">
    <%= link_to calendar_path(date: @date - 1.month), class: "btn btn-default" do %>
      <%= fa_icon "chevron-left", style: 'color:#A3A3A3' %>
    <% end %>
    <%= "#{@date.strftime("%B")} #{@date.year}" %>
    <%= link_to calendar_path(date: @date + 1.month), class: "btn btn-default" do %>
      <%= fa_icon "chevron-right", style: 'color:#A3A3A3' %>
    <% end %>
  </div>

  <%= calendar @date do |date| %>
    <%= date.day %>
  <% end %>
</div>

  


  <div class="row">
    <div class="col-12">
        <%= link_to "教案頁面",plans_path %>  
        <%= link_to "教材頁面",materials_path %>
    </div>
  </div>
