<div class="col" style="border-left: 1px solid #d9dedd;">
  <h2>教案檔案</h2>
  <br>

  <% if @plans.count == 0 %>
    <p class="font-22">尚未上傳任何<strong>教材</strong>檔案</p>
    <%= link_to "新增教材檔案", user_plans_path(@user), class: "font-24" %>
  <% else %>
    <% @subject_tags.each do |subject| %>
      <% if SubjectTag.where(name: subject.name).first.plans.where(user_id: @user).present? %>
        <h3><strong><%= subject.name %></strong></h3>

        <% @plans.each do |plan| %>
          <% if plan.subject_tag.name == subject.name %>
            <div class="table-card radius-20 margin-bottom-30">
              <h4><%= plan.plan_folder_name %></h4>
              <hr>

              <div class="col">
                <% plan.teachingfiles.each do |teachingfile| %>
                  <h5>
                    <%= fa_icon 'folder' %>
                    <%= teachingfile.name %>

                    <div class="float-right">
                      <% if teachingfile.is_added?(@topic) %>
                        <%= link_to removefile_user_classroom_topic_teachingfile_path(@user,@classroom,@topic,teachingfile), method: :post, remote: true do %>
                          <%= fa_icon 'minus 2x', style: 'color: #6c757d;' %>
                        <% end %>
                      <% else %>
                        <%= link_to addfile_user_classroom_topic_teachingfile_path(@user,@classroom,@topic,teachingfile), method: :post, remote: true do %>
                          <%= fa_icon 'plus 2x', style: 'color: #6c757d;' %>
                        <% end %>
                      <% end %>
                    </div>
                  </h5>
                  <% teachingfile.attachments.each do |file| %>
                    <li><i><%= file.file.filename %></i></li>
                  <% end %>
                  <br>
                <% end %>
              </div>

            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>