<style>
  .weekly-prepare{
    border:1px solid #ddd;
    padding: 20px;
    min-height: 200px;
    margin-top: 10px;
  }

  .button-set{
    text-align: right;
    margin-top: -30px;
  }
</style>

<div id="post_<%= topic.id %>">
  <div class="row">
    <!--<div class="col-md-8">-->
    <div class="col-md-9">
      <div class="weekly-prepare">
        <div class="col-md-10 prepare-detail">
          <h5>
            <span><%= topic.start_time %> ~ <%= topic.end_time %></span>
            <span><%= topic.name %> </span> 
            <div class="button-set">
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myupdatepost_<%= topic.id  %>">edit</button>
              <%= link_to "destroy",  user_subject_topic_path(@user,@subject,topic) ,method: :delete, data: { confirm: "Are you sure?"},class:"btn brn-danger" %>
            </div>
          <h5>           
        </div>

        <div class="col-md-2">
          
        </div>
      </div>
    </div>
    <!-------------------------->
    <div class="col-md-3">

    </div> 
  
  </div>
</div>


<!--modal - update topic posts-->
<%= form_for [@user,@subject,topic] ,method: :put  do |f| %>
  <div class="modal fade" id="myupdatepost_<%= topic.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h5 class="modal-title" id="myModalLabel">Edit</h5>
          </div>

          <div class="modal-body">
              <!--輸入主題日期開始-->
              <div class="field">
                <%= f.label :start_time %>
                <%= f.text_field :start_time, class: 'form-control post_theme', placeholder: "輸入開始日期 ex:9/14" %>
              </div>

              <!--輸入主題日期結束-->
              <div class="field">
                <%= f.label :end_time %>
                <%= f.text_field :end_time, class: 'form-control post_theme', placeholder: "輸入結束日期 ex:9/20" %>
              </div>

              <!--輸入教學主題-->
              <div class="field">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control', placeholder: "輸入教學主題" %>
              </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mypostclose">close</button>
            <%= submit_tag "Update",class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %> 
<!--update modal-->




      
   








<script>
  $('trix-editor').css("min-height", "350px");
</script>



