<style>
  .weekly-prepare{
    border:1px solid #ddd;
    padding: 0px;
    min-height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
  }

  .prepare-detail, .prepare-edit {
    border:1px solid #ddd;
  }

  .button-set{
    text-align: right;
    margin-top: -30px;
  }

  .topic-title {
    background-color: #aeeac6;
    margin-bottom: 15px;
    padding: 10px 20px;
  }
  
  .new-aim {
    width: 60%!important;
  }

</style>

<div id="post_<%= topic.id %>">
  
  <!--<div class="col-md-12">-->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 weekly-prepare">
        
          <!--教學單元主題-->
        <div class="topic-title">
          <h3 class="float-left"><%= topic.name %></h3>
          <h3 class="float-right">
            <%= topic.start_time.strftime("%Y/%m/%d") %> - <%= topic.end_time.strftime("%Y/%m/%d") %>
          </h3>
          <div class="clearfix"></div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-10 prepare-detail">
              <!--教學單元主題下的教學目標-->
              <%= form_for [@user,@classroom,topic,Aim.new],remote: true do |f| %>
                <h4><%= f.label :title, "教學目標" %></h4>
                <div class="form-group form-inline"> 
                  <%= f.text_field :name, placeholder:"新增教學目標", class: "form-control new-aim" %>
                  <%= f.submit "新增", class: "btn btn-outline-info" %>
                </div>
              <% end %>
              
              <ol id="aim_posts-<%= topic.id %>">
                <% topic.aims.each do |aim| %> 
                  <%= render :partial => 'aims/aim', locals: {aim: aim } %>               
                <% end %> 
              </ol> 
               
            </div>
          <div class="col-md-2 prepare-edit">
            
          </div>
        </div>

      </div>
    </div>
  </div>
  
  <!-------------------------->
  <div class="col">
    
  </div> 


</div>


<!--modal - update topic posts-->
<%= form_for [@user,@classroom,topic] ,method: :put,remote: true  do |f| %>
  <div class="modal fade" id="myupdatepost_<%= topic.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h5 class="modal-title" id="myModalLabel">編輯教學主題</h5>
          </div>

          <div class="modal-body">
              <!--輸入主題日期開始-->
              <div class="field">
                <%= f.label "開始日期" %>
                <%= f.date_select :start_time, class: 'form-control post_theme', placeholder: "ex: 2018/9/14" %>
              </div>

              <!--輸入主題日期結束-->
              <div class="field">
                <%= f.label "結束日期" %>
                <%= f.date_select :end_time, class: 'form-control post_theme', placeholder: "ex:2018/9/21" %>
              </div>

              <!--輸入教學主題-->
              <div class="field">
                <%= f.label "教學單元主題" %>
                <%= f.text_field :name, class: 'form-control', placeholder: "輸入教學主題" %>
              </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mypostclose">close</button>
            <%= submit_tag "Update",class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %> 
<!--update modal-->


<!--modal - update feedback posts -->
<%= form_for [@user,@classroom,topic] ,method: :put,remote: true  do |f| %>
  <div class="modal fade" id="myupdatefeedback_<%= topic.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h5 class="modal-title" id="myModalLabel">教學反思與紀錄</h5>
          </div>

          <div class="modal-body">

            <div class="field">
              <%= f.label "教學反思與紀錄" %>
              <%= f.trix_editor :feedback, placeholder: "輸入教學後的心得＆反思" %>
            </div>


          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mypostclose">close</button>
            <%= submit_tag "Update",class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>
<!--update modal-->



<script>
  $('trix-editor').css("min-height", "350px");
</script>



