<div id="post_<%= topic.id %>">
  
  <!--<div class="col-md-12">-->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 weekly-prepare">
        
          <!--教學單元主題-->
        <div class="topic-title">
          <h3 class="float-left"><%= topic.name %></h3>
          <h3 class="float-right">
            <% if @user == current_user %>
              <%= topic.start_time.strftime("%Y/%m/%d") %> - <%= topic.end_time.strftime("%Y/%m/%d") %>&nbsp;
            
              <button class="round-button" alt="重設日期／主題" type="button" class="btn btn-warning" data-toggle="modal" data-target="#myupdatepost_<%= topic.id  %>"><%= fa_icon 'calendar', style: 'cursor: pointer;'%></button>
            <% else %>
              <%= topic.start_time.strftime("%Y/%m/%d") %> - <%= topic.end_time.strftime("%Y/%m/%d") %>
            <% end %>
          </h3>
          <div class="clearfix"></div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-10 prepare-detail">
              <!--教學單元主題下的教學目標-->
              <% if @user == current_user %>
                <%= form_for [@user,@classroom,topic,Aim.new],remote: true do |f| %>
                  <h4><%= f.label :title, "教學目標" %></h4>
                  <div class="form-group form-inline"> 
                    <%= f.text_field :name, placeholder:"新增教學目標", class: "form-control new-aim" %>
                    <%= f.submit "新增", class: "btn btn-outline-info" %>
                  </div>
                <% end %>
              <% else %>
                <h4>教學目標</h4>
              
                <ol id="aim_posts-<%= topic.id %>">
                  <% topic.aims.each do |aim| %> 
                    <%= render :partial => 'aims/aim', locals: {aim: aim } %>               
                  <% end %> 
                </ol> 
              <% end %>
               
            </div>
            <div class="col-2">
              <div class="prepare-edit">
                <% if @user == current_user %>
                  <%= link_to user_classroom_topic_path(@user, @classroom, topic) do %>
                    <div class="prepare-edit-div" data-toggle="tooltip" data-placement="left" title="取得教材／教案檔案"><%= fa_icon 'plus-square-o', style: 'font-size: 25px;' %></div>
                  <% end %> 

                  <div class="prepare-edit-div" data-toggle="tooltip" data-placement="left" title="查看現有教學檔案">
                    <div data-toggle="modal" data-target="#bd-example-modal-lg-<%= topic.id %>">
                      <%= fa_icon 'folder', style: 'font-size: 25px; cursor: pointer;' %>
                    </div>
                  </div>
                  <div class="prepare-edit-div" data-toggle="tooltip" data-placement="left" title="填寫教學反思">
                    <div data-toggle="modal" data-target="#myupdatefeedback_<%= topic.id  %>">
                      <%= fa_icon 'edit', style: 'font-size: 25px; cursor: pointer;' %>
                    </div>
                  </div>
                <% else %>
                  <div class="prepare-edit-div" data-toggle="tooltip" data-placement="left" title="查看現有教學檔案">
                    <div data-toggle="modal" data-target="#bd-example-modal-lg-<%= topic.id %>">
                      <%= fa_icon 'folder', style: 'font-size: 25px; cursor: pointer;' %>
                    </div>
                  </div>
                <% end %>

              </div>
              
              <% if @user == current_user %>
                <div class="parent-absolute">
                  <div class="prepare-edit-div3" data-toggle="tooltip" data-placement="left" title="刪除教學計劃">
                    <%= link_to user_classroom_topic_path(@user,@classroom,topic) ,method: :delete, data: { confirm: "確定要刪除此教學單元嗎?"}, remote: true do %>
                      <%= fa_icon 'trash', style: 'font-size: 25px;' %>
                    <% end %>
                      
                  </div>
                </div>
              <% end %>

            </div>
        </div>

      </div>
    </div>
  </div>
  
  <!-- FILE DOWNDOAD MODAL-->
  <div class="modal fade" id="bd-example-modal-lg-<%= topic.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            下載教學檔案
          </h5>
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if topic.added_files.count == 0 %>
            <h5>本計劃尚未放進任何教案／教材檔案，可點選計劃表上的 <%= fa_icon 'plus-square-o' %> 取得檔案 </h5>
          <% else %>
            <div class="row">
              <div class="col-md-4 float-left">
                <% topic.added_files.each do |teachingfile| %>
                  <div style="text-align: left; margin-left: 20px;">
                    <h5>
                      <%= fa_icon 'folder' %>
                      <%= teachingfile.name %>
                        
                    </h5>
                    <% teachingfile.attachments.each_with_index do |file, index| %>
                      <li>
                        <%= link_to file.url do %>
                          <%= fa_icon 'download', class: 'theme-font'%>&nbsp;&nbsp;
                          <span style="color: blue;"><%= file.file.filename %></span>
                        <% end %>
                      </li>
                    <% end %>                    
                  </div>
                  <br>
                <% end %>
              </div>
            </div>
          <% end %>  
        </div>       
      </div>
    </div>
  </div>
</div>


<!--modal - update topic posts-->
<%= form_for [@user,@classroom,topic] ,method: :put,remote: true  do |f| %>
  <div class="modal fade" id="myupdatepost_<%= topic.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">編輯教學主題</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
              <!--輸入主題日期開始-->
              <div class="field">
                <%= f.label "開始日期" %>
                <%= f.date_select :start_time, class: 'form-control post_theme', placeholder: "ex: 2018/9/14" %>
              </div>

              <!--輸入主題日期結束-->
              <div class="field">
                <%= f.label "結束日期" %>
                <%= f.date_select :end_time, class: 'form-control post_theme', placeholder: "ex:2018/9/21" %>
              </div>

              <!--輸入教學主題-->
              <div class="field">
                <%= f.label "教學單元主題" %>
                <%= f.text_field :name, class: 'form-control', placeholder: "輸入教學主題" %>
              </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mypostclose">close</button>
            <%= submit_tag "Update",class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %> 
<!--update modal-->


<!--modal - update feedback posts -->
<%= form_for [@user,@classroom,topic] ,method: :put,remote: true  do |f| %>
  <div class="modal fade" id="myupdatefeedback_<%= topic.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">教學反思與紀錄</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <div class="field">
              <%= f.label "教學反思與紀錄" %>
              <%= f.trix_editor :feedback, placeholder: "輸入教學後的心得＆反思" %>
            </div>


          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mypostclose">close</button>
            <%= submit_tag "Update",class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>
<!--update modal-->

<script>
  $('trix-editor').css("min-height", "350px");
</script>