<div class="container">
  <div id="topic-show-top">
    <span class="h1-font">上傳檔案總覽</span>
    <span class="right-link"> <%= link_to '>> 返回卡片' %></span> 
  </div>
  

  <hr class="pink-hr">
  <div class="row"> 
    <div class="col-md-6">
      <h3>【教材檔案】</h3>
      <br>
      <% @subject_tags.each do |subject| %>
        <% if subject.materials.present? %>
          <h5><%= '科目：' + subject.name %></h5>
          <span class="right-link">
            <%= link_to user_subject_topic_path(@user, @subject, @topic, :anchor => "topic-show-top") do %>
              <%= fa_icon 'arrow-circle-up 2x', style: 'color: grey;', alt: 'back to top' %>
            <% end %>
          </span>
          <% subject.materials.each do |m| %>
            <p><strong><%= '主題／單元：' + m.mtrial_folder_name %></strong></p>

            <ul>
              <% m.teachingfiles.each do |teachingfile| %>  
                <li>
                  <%= link_to 'Add file', addfile_user_subject_topic_teachingfile_path(@user,@subject,@topic,teachingfile), method: :post, class: 'btn btn-outline-primary btn-sm' %>
                  <%= link_to 'Remove file', removefile_user_subject_topic_teachingfile_path(@user,@subject,@topic,teachingfile), method: :post, class: 'btn btn-outline-warning btn-sm' %> |  
                  <b><%= teachingfile.name %></b>
                </li>
                <ul>
                  <% teachingfile.attachments.each do |file| %>
                    <li><i><%= file.file.filename %></i></li>
                  <% end %>
                </ul>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h3>【教案檔案】</h3>
      <br>
      <% @subject_tags.each do |subject| %>
        <% if subject.plans.present? %>
          <h5><%= '科目：' + subject.name %></h5>
          <span class="right-link">
            <%= link_to user_subject_topic_path(@user, @subject, @topic, :anchor => "topic-show-top") do %>
              <%= fa_icon 'arrow-circle-up 2x', style: 'color: grey;', alt: 'back to top' %>
            <% end %>
          </span>
          <% subject.plans.each do |m| %>
            <p><strong><%= '主題／單元：' + m.plan_folder_name %></strong></p>
            <ul>
              <% m.teachingfiles.each do |teachingfile| %>  
                <li>
                  <%= link_to 'Add file', addfile_user_subject_topic_teachingfile_path(@user, @subject, @topic, teachingfile), method: :post, class: 'btn btn-outline-primary btn-sm' %>
                  <%= link_to 'Remove file', removefile_user_subject_topic_teachingfile_path(@user, @subject, @topic, teachingfile), method: :post, class: 'btn btn-outline-warning btn-sm' %> |  
                  <b><%= teachingfile.name %></b>
                </li>
                <ul>
                <% teachingfile.attachments.each do |file| %>
                  <li><i><%= file.file.filename %></i></li>
                <% end %>
                </ul>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <!--這裡可以用上 kaminari 分頁 -->
</div>