<div class="container user-profile-navtab">
  <div class="row"> 
    <div class="col-md-12">
      <h2 class="text-center">編輯個人資料</h2>
      <hr>

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to '個人資料',edit_user_path(current_user), class: "nav-link active"%>
        </li> 

        <li class="nav-item">
          <%= link_to '變更密碼',edit_user_registration_path, class: "nav-link tab-link"%>
        </li> 

      </ul>
    </div> 
  </div>

  <div class="row">
    <div class="col-md-12 user-profile-grid">
      <%= form_for @user do |f| %>
      <div class="offset-md-4  user-avatar">
        <div class="thumbnail">
          <%= image_tag @user.avatar, class: 'img-fluid' if @user.avatar? %>
        </div>
        <%= f.label :avatar, '個人像片' %>
        <%= f.file_field :avatar %>
      </div>

      <div class="col-md-12">
        <%= f.label :name,"姓名" %>
        <%= f.text_field :name, class: "form-control" %><br>

        <%= f.label :intro,"關於我的介紹" %>
        <%= f.text_area :intro, class: "form-control",rows:"4" %><br>

        <%= f.label :job_title, "從事工作行業" %>
        <%= f.text_field :job_title , class: "form-control" %><br>

        <%= f.label :website, "個人網站" %>
        <%= f.text_field :website, class: "form-control" %><br>

        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
              
              
</div> 