<style>
  .field{
    width: 65%;
    margin: 10px auto;
  }

  .field.field-category{
    margin-bottom: -15px;
  }
</style>
<%= form_for [@plan] do |f| %>
  <div class="field field-category">
  <%= f.label :subject_tag_id, "科目" %><br>
  <%= f.collection_select :subject_tag_id , SubjectTag.all, :id, :name, {prompt: true}, {class: "form-control"}  %><br>
  </div> 

  <div class="field">
  <%= f.label :plan_folder_name, "資料夾名稱" %><br>
  <%= f.text_field :plan_folder_name ,class: "form-control"%>
  </div>

  <div class="field">
    <%= f.submit class: 'btn btn-info' %>
  </div>

  <br>
    
  <div class="field">
    <%= link_to '<< Index Page',root_path %>
  </div>

<% end %>
