<nav class="navbar sticky-top navbar-light bg-light">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.svg", width:'45', height:'45', alt:'首頁', class: "d-inline-block" %>
     <strong>K12 Project</strong>
  <% end %>

  <% if user_signed_in? %>
    <% if current_user %>
      <ul class="nav">
        <li><%= link_to '課表首頁', user_lessons_path(@user) %></li>

        <%# 原版本的我的班級  %>
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">我的班級</a>
          <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown2">
            <%# @classroom_array.each do |classroom| %>
              <a class="dropdown-item">
                <%# link_to 路由需要另外設定 do %> <%# 加了選單內容變不見 %>
                  <%#= classroom %>
                <%# end %>
              </a>
            <%# end %>
          </div>
        </li>
        <-->

        <li><%= link_to '我的班級', user_subjects_path(@user)  %></li>

        <li><%= link_to '教材資料夾', user_materials_path(@user) %></li>
        <li><%= link_to '教案資料夾', user_plans_path(@user) %></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.avatar? %>
              <%= image_tag current_user.avatar, width: '30', height: '30' %>
            <% else %>
              <%= image_tag 'avatar-default.png', width: '30', height: '30' %>  
            <% end %>
            <%= current_user.email.split('@').first %>
            
          </a>
          <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">
            <%= link_to('個人檔案', edit_user_path(current_user), class: 'dropdown-item theme-font') %>  
            <div class="dropdown-divider"></div>
            <%= link_to('登出', destroy_user_session_path, method: :delete, class: "dropdown-item theme-font") %>
          </div>
          
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav navbar-right">
        <li class='navbar-nav-li'><%= link_to('Sign up', new_user_registration_path) %> or <%= link_to('Log in', new_user_session_path) %></li>
        <li></li>
      </ul>
    <% end %>
  <% end %>

</nav>