<nav class="navbar sticky-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.svg", width:'45', height:'45', alt:'首頁', class: "d-inline-block",style:"margin-left:18px;" %>
     <strong style="margin-left: 15px;font-size: 20px;letter-spacing: 2px;">K12 Project</strong>
  <% end %>

  <% if user_signed_in? %>
    <% if current_user %>
      <ul class="nav">
        <li style="border-left: 2px solid #ebebeb; padding-top: 4px;"><%= link_to '課表首頁', user_lessons_path(@user) %></li>

        <li class="dropdown" style="position:relative; border-left: 2px solid #ebebeb;; padding-top: 4px;">
          <a href="#" class=" dropdown-toggle" data-toggle="dropdown">我的班級<span class="caret"></span></a>
          <%# 設定第一層：科目 %>
          <ul class="dropdown-menu">
            <% if @subjects.count == 0 %>
              <li><%= link_to '請新增班級', new_user_lesson_path(@user) %></li>
            <% else %>
              <% @subjects.each do |subject| %>
              
                <li>     
                  <a class="trigger right-caret"><%= subject.name if subject.classrooms.exists? %></a>
                  <%# 設定第二層：科目下的班級 %>
                  <ul class="dropdown-menu sub-menu">
                  
                    <% subject.classrooms.each do |classroom| %>
                      <li>
                        <%= link_to user_classroom_path(@user,classroom) do %>
                          <%= classroom.name %>
                        <% end %>
                      </li>  
                    <% end %>
                    
                  </ul>
                </li>
              <% end %>
            <% end %>
            
            
          </ul>
        </li>
        
        <li style="border-left: 2px solid #ebebeb; padding-top: 4px;"><%= link_to '教材資料夾', user_materials_path(@user) %></li>
        <li style="border-left: 2px solid #ebebeb; padding-top: 4px;"><%= link_to '教案資料夾', user_plans_path(@user) %></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="font-size: 20px;letter-spacing: 1px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.avatar? %>
              <%= image_tag current_user.avatar, width: '30', height: '30' %>
            <% else %>
              <%= image_tag 'avatar-default.png', width: '30', height: '30' %>  
            <% end %>
            <%= current_user.name %>
            
          </a>
          <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">
            <%= link_to('個人檔案', edit_user_path(current_user), class: 'dropdown-item theme-font') %>  
            <div class="dropdown-divider"></div>
            <%= link_to('登出', destroy_user_session_path, method: :delete, class: "dropdown-item theme-font") %>
          </div>
          
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav navbar-right">
        <li class='navbar-nav-li'><%= link_to('Sign up', new_user_registration_path) %> or <%= link_to('Log in', new_user_session_path) %></li>
        <li></li>
      </ul>
    <% end %>
  <% end %>

</nav>

<script>
  $(function(){
    $(".dropdown-menu > li > a.trigger").on("click",function(e){
        var current=$(this).next();
        var grandparent=$(this).parent().parent();
        if($(this).hasClass('left-caret')||$(this).hasClass('right-caret'))
            $(this).toggleClass('right-caret left-caret');
        grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
        grandparent.find(".sub-menu:visible").not(current).hide();
        current.toggle();
        e.stopPropagation();
    });
    $(".dropdown-menu > li > a:not(.trigger)").on("click",function(){
        var root=$(this).closest('.dropdown');
        root.find('.left-caret').toggleClass('right-caret left-caret');
        root.find('.sub-menu:visible').hide();
    });
});
</script>