
<nav class="navbar sticky-top navbar-light bg-light">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.svg", width:'45', height:'45', alt:'首頁', class: "d-inline-block" %>
     <strong>K12 Project</strong>
  <% end %>
  
  <ul class="nav">
    <li><%= link_to '課表首頁' %></li>
    <li><%= link_to '教材資料夾' %></li>
    <li><%= link_to '教案資料夾' %></li>
    <li><%= link_to '個人檔案' %></li>
  </ul>

</nav>