<div class="sidenav">
  <div class="side-avatar">
    <h1>使用者頭像</h1>  
  </div>

  <hr>
  <button class="dropdown-btn">
    <%= '我的科目' %>
    <%= fa_icon 'caret-down' %>
  </button>
  <div class="dropdown-container">
    <%= link_to 'Math' %>
    <%= link_to 'Chinese' %>  
    <%= link_to 'Social Study' %>
  </div>

  <!--第一個dropdown-->
  <button class="dropdown-btn">
    <%= '我的教材' %>
    <%= fa_icon 'caret-down' %>
  </button>
  <div class=dropdown-container>
    <%= link_to "新增教材" ,new_material_path  %>
    <%= link_to "全部教材", materials_path %>
  </div>

  <!--mainmenu--> 
    <!--adding new teaching-material-->  
  <button class="dropdown-btn">
    <%= '我的教案' %>
    <%= fa_icon 'caret-down' %>
  </button>
  <div class="dropdown-container">
    <%= link_to "新增教案" ,new_plan_path  %>
    <%= link_to "全部教案", plans_path %>
  </div>
  <!--mainmenu--> 
    <!--adding new teaching-plan-->
    
    <!--submenu-->   
    
  <button class="dropdown-btn">
    <%= '過往學期教學計畫' %>
    <%= fa_icon 'caret-down' %>
  </button>
  <div class="dropdown-container">
    
  </div>
     
</div>