<% if signed_in? %>
  <div class="sidenav">
    <div class="dropdown-btn text-center">
      <%= image_tag 'admin.jpg', class: 'img-fluid' %>
      <h2><%= current_user.name %></h2>
    </div>

    <hr>
    <button class="dropdown-btn">
      <%= '我的科目' %>
      <%= fa_icon 'caret-down' %>
    </button>
    <div class="dropdown-container">
     
      
    </div>

    <!--第一個dropdown-->
    <button class="dropdown-btn">
      <%= '我的教材' %>
      <%= fa_icon 'caret-down' %>
    </button>
    <div class=dropdown-container>
      <%= link_to " + 新增教材資料夾" ,new_user_material_path(@user, @material)  %>
      <!--第二層 dropdown開始-->
      <button class="dropdown-btn">
        <%= " - 現有教材" %>
        <%= fa_icon 'caret-down' %>
      </button>
      <div class="dropdown-container">
        
      </div>
      
    </div>

    <button class="dropdown-btn">
      <%= '我的教案' %>
      <%= fa_icon 'caret-down' %>
    </button>
    <div class=dropdown-container>
      <%= link_to " + 新增教案資料夾", new_user_plan_path(@user, @plan) %>
      <button class="dropdown-btn">
        <%= " - 現有教案" %>
        <%= fa_icon 'caret-down' %>
      </button>
      <div class="dropdown-container">
        
      </div>
    </div>
      
    <button class="dropdown-btn">
      <%= '過往學期教學計畫' %>
      <%= fa_icon 'caret-down' %>
    </button>
    <div class="dropdown-container">
      <h5 style="color:green">
        你還沒有任何教學計劃哦！趕快來新增班級吧！
      </h5>  
    </div>
       
  </div>
<% end %>