<% if signed_in? %>
  <div class="sidenav">
    <div class="dropdown-btn text-center">
      <% if current_user.avatar? %>
        <%= link_to user_path(@user) do %>
          <%= image_tag current_user.avatar,class:"img-fluid"%>
          <h2 class="text-center"><%= @user.name %></h2>
        <% end %>
      <% else %>
        <%= image_tag 'avatar-default.png', class: 'img-fluid' %>
        <h2 class="text-center"><%= @user.name %></h2>
      <% end %>

      
    </div>

    <hr>
    <button class="dropdown-btn">
      <%= '我的班級' %>
      <%= fa_icon 'caret-down' %>
    </button>
    <div class="dropdown-container">
      <%= link_to " + 新建班級", new_user_subject_path(@user, @subject) %>
      <button class="dropdown-btn">
        <%= " - 現有班級" %>
        <%= fa_icon 'caret-down' %>  
      </button>
      <% if @subjects.count == 0 %>
        <div class="dropdown-container">        
          <h5 style="color:green;">你還沒有任何班級哦！趕緊新建一個吧！</h5>
        </div>
      <% else %>
        <div class="dropdown-container">
          <% @subjects.each do |subject| %>
            <%= link_to user_subject_path(@user, subject) do %>
              <%= subject.grade %>年 <%= subject.classroom %>
            <% end %>
          <% end %>
        </div>        
      <% end %>
    </div>    
      

    <!--第一個dropdown-->
    <button class="dropdown-btn">
      <%= '我的教材' %>
      <%= fa_icon 'caret-down' %>
    </button>
    <div class=dropdown-container>
      <%= link_to " + 新增教材資料夾" ,new_user_material_path(@user, @material)  %>
      <!--第二層 dropdown開始-->
      <button class="dropdown-btn">
        <%= " - 現有教材" %>
        <%= fa_icon 'caret-down' %>
      </button>
      <% if @materials.count == 0 %>
        <div class="dropdown-container">
          <h5 style="color:green;">尚未建立任何資料夾</h5>
        </div>
      <% else %>
        <div class="dropdown-container">
          <% @subject_tags.each do |subject| %>

            <% if subject.materials.present? %>
            <button class="dropdown-btn">
              <%= "【" + subject.name + "】" %>
              <%= fa_icon 'caret-down' %>
            </button>
            <div class="dropdown-container">
              <% subject.materials.each do |material| %>
                <%= link_to material.mtrial_folder_name, user_material_path(@user, material) %>
              <% end %>
            </div>
            <% end %>

          <% end %>
        </div>
      <% end %>
    </div>

    <button class="dropdown-btn">
      <%= '我的教案' %>
      <%= fa_icon 'caret-down' %>
    </button>
    <div class=dropdown-container>
      <%= link_to " + 新增教案資料夾", new_user_plan_path(@user, @plan) %>
      <button class="dropdown-btn">
        <%= " - 現有教案" %>
        <%= fa_icon 'caret-down' %>
      </button>
      <% if @plans.count == 0 %>
        <div class="dropdown-container">
          <h5 style="color:green;">尚未建立任何資料夾</h5>
        </div>
      <% else %>
        <div class="dropdown-container">
          <% @subject_tags.each do |subject| %>

            <% if subject.plans.present? %>
            <button class="dropdown-btn">
              <%= "【" + subject.name + "】" %>
              <%= fa_icon 'caret-down' %>
            </button>
            <div class="dropdown-container">
              <% subject.plans.each do |plan| %>
                <%= link_to plan.plan_folder_name, user_plan_path(@user, plan) %>
              <% end %>
            </div>
            <% end %>

          <% end %>
        </div>
      <% end %>
    </div>
      
    <button class="dropdown-btn">
      <%= '教學計畫檔案庫' %>
      <%= fa_icon 'caret-down' %>
    </button>
    <div class="dropdown-container">
      <h5 style="color:green">
        你還沒有任何教學計劃哦！先新增班級吧！
      </h5>  
    </div>
       
  </div>
<% end %>