<%= form_for [@user, @todo], url: {action: "update"} do |f| %>
<%#= form_for (todo) ,remote: true do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-group col-8">
    <%= f.label '待辦事項' %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group col-8">
    <%= f.label '開始時間' %>
    <%= f.datetime_select :start_time, start_year: Date.today.year, end_year: Date.today.year+1, start_hour: 8, end_hour: 18, ampm: true, discard_minute: true, default: Date.today.beginning_of_day + 8.hour %>
  </div>

  <div class="form-group col-8">
    <%= f.label '結束時間' %>
    <%= f.datetime_select :end_time, start_year: Date.today.year, end_year: Date.today.year+1, start_hour: 8, end_hour: 18, ampm: true, discard_minute: true, default: Date.today.beginning_of_day + 9.hour %>
  </div>


  <div class="actions col-8">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>

    <%= link_to '刪除',user_event_path(@user,@todo), method: :delete, data: {confirm: "確定要刪除此待辦事項嗎？"} , class:"btn btn-danger" unless @todo.new_record? %>
    <%= f.submit action_name == 'new' ? '新增' : '更新' ,class: "btn btn-primary" %>
  </div>
<% end %>
