<%= form_for (event) ,remote: true do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= f.label '待辦事項' %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label '開始時間' %>
    <%= f.datetime_select :start, start_year: Date.today.year, :end_year => Date.today.year+1, :ampm => true, :minute_step => 15, start_hour: 7, end_hour: 19 %>
  </div>

  <div class="field">
    <%= f.label '結束時間' %>
    <%= f.datetime_select :end, start_year: Date.today.year, :end_year => Date.today.year+1, :ampm => true, :minute_step => 15, start_hour: 7, end_hour: 19 %>
  </div>


  <div class="actions">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>

    <%= link_to '刪除',user_event_path(@user,@event), method: :delete, data: {confirm: "確定要刪除此待辦事項嗎？"} , class:"btn btn-danger" unless @event.new_record? %>
      
    <%= f.submit action_name == 'new' ? '新增' : '更新' ,class:"btn btn-primary"%>
  </div>
<% end %>



