<div class="row">
  <%# 加了跑版待修，layout 不會自動render why? %>
  <!-- <div class="col-3" style="padding: 0px;"> -->
    <%#= render partial: "shared/sidebar" %>
  <!-- </div> -->
  <div id="events_calendar" class="col-6" style="padding: 0px;">
    <%= link_to 'Listing events', list_events_path %>

      <div class="row">
        <div class="col-8 m-auto">
          <h2 class="text-center">一週課表</h2>
          <%= week_calendar events: @events do |date, events| %>
            <% 8.upto(18).each do |hour| %>
              <div id="hour-<%= hour %>" class="day_time">
                <% events.each do |event| %>
                  <%- if event.starttime.hour.between?(hour, hour + 0.9) %>
                    <%= link_to event_path(event) do %>
                      <%= event.name %>
                    <% end %>
                  <% end -%>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <div class="pull-right">
      <%= link_to new_event_path do %>
        <i class="fa fa-plus-circle" style="font-size: 80px; color: #A3A3A3; margin-right: 100px;"></i>
      <% end %>
    </div>
  </div>
  <div id="events_calendar_2" class="col-3 ml-auto" style="padding: 0px;">
    <%# 右上月曆 %>
    <div class="row">
      <div class="col-4">
        <%= month_calendar events: @events do |date, events| %>
          <%= date.day %>
        <% end %>
      </div>
    </div>
    <%# ToDo List %>
    <div class="row">
      <div class="col-4">
        <h2>今日待辦事項</h2>
        <%= week_calendar partial: 'simple_calendar/to_do_list' do |date| %>
          <% 8.upto(18).each do |hour| %>
            <div id="hour-<%= hour %>" class="day_time">
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
