<li id="post_<%= aim.id %>">
  <% if @user == current_user %>
    <span class="" data-toggle="tooltip" data-placement="top" title="編輯完成度">
      <%= link_to edit_user_classroom_topic_aim_path(aim.topic.classroom.user,aim.topic.classroom,aim.topic,aim),remote:true do %>&nbsp;&nbsp;
         <i class="material-icons">edit</i>
      <% end %>
    </span>
    <span class="">
      <%= link_to user_classroom_topic_aim_path(aim.topic.classroom.user,aim.topic.classroom,aim.topic,aim) , method: :delete, data: { confirm: "Are you sure?"},remote:true do%>
        <i class="fa fa-trash-o font-24"></i>
      <% end %> 
    </span>
  <% end %>
  &nbsp;&nbsp;
  <span class="aim-title font-20"><%= aim.name %></span>
  <span class="aim-status font-20"><%= aim.status %></span>
</li>