<div class="mon-calendar-box mon-calendar-body">  
  <div class="mon-calendar-nav"> 
    <%= link_to t('simple_calendar.previous', default: 'Prev'), calendar.url_for_previous_view,style:"font-size:10px;margin-right:15px;color:#fff;" %>
            
    <%= t('date.month_names')[start_date.month] %> <%= start_date.year %>

    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view ,style:"font-size:10px;margin-left:15px;color:#fff;"%>    
  </div>
  

  <% date_range.slice(0, 7).each do |day| %>
    <span><%= t('date.abbr_day_names')[day.wday] %></span>
  <% end %>
      
    
  <% date_range.each_slice(7) do |week| %>
      <% week.each do |day| %>
        <%= content_tag :span, class: calendar.td_classes_for(day) do %>
          <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
            <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
          <% else %>
            <% block.call day, sorted_events.fetch(day, []) %>
          <% end %>
        <% end %>
      <% end %> 
  <% end %>
   
</div>
