<div class="main-frame">
  <h1>新建班級</h1>
  <hr class="orange-hr">


  <% if @subject.errors.any? %>
    <h2>We have some errors here!</h2>
    <ul>
      <% @subject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  
  <div class="form">
  <%= form_for [@user, @subject] do |f| %>
    <div class="form-group">
      <%= f.label :name, "科目" %>
      <%= f.text_field :name, placeholder: "ex. 國文" %>
    </div>
    <div class="form-group">
      <%= f.label :grade, "年級" %>
      <%= f.select :grade, Subject::GRADE,{} %>  
    </div>
    <div class="form-group">
      <%= f.label :classroom, "班級名稱" %>  
      <%= f.text_field :classroom, placeholder: "ex. 三班" %>
    </div>
    <div class="form-group">
      <%= f.label :students, "班級人數" %>
      <%= f.number_field :students %>
    </div>
    <div class="form-group">
      <%= f.label :start_time, "開始日期" %>
      <%= f.date_select :start_time, {order: [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }}, {required: true}%>
    </div>
    <div class="form-group">
      <%= f.label :end_time, "結束日期" %>
      <%= f.date_select :end_time, {order: [:month, :day, :year], promp: {day: 'Select day', month: 'Select month', year: 'Select year' }}, {required: true} %>
    </div>

    <div class="form-group">
      <%= f.submit "建立班級", class: 'btn btn-info' %>
    </div>

    <%= link_to '<< 你的所有班級', user_subjects_path(@user) %>

  </div>

  <% end %>
</div>