<div class="main-frame">
  <h4>學期開始： <%= @subject.start_time.year-1911 %> 年度 <%= @subject.start_time.month %> 月</h4>
  <h4>科目： <%= @subject.name %></h4>  
  <h4>班級： <%= @subject.grade %> 年 <%= @subject.classroom %>（<%= @subject.students %> 人）</h4>
  <h4>課程時間： <i>這要拿 lesson 時間來弄吧…？</i></h4>
  <hr class="blue-hr">

  <div class="row">
    <div class="col-md-5">
      <%= calendar start_date_param: :subject, number_of_days: 7 do |date| %>
        <%= date.day %>
      <% end %>    
    </div>
    <div class="col-md-5"></div>
  </div>

  
</div> 