<div class="main-frame">

  <%= link_to '編輯班級設定', edit_user_subject_path(@user, @subject), class: 'btn btn-outline-success' %><br><br>
  <h4>學期： <%= @subject.start_time.strftime("%Y-%m") %> 至 <%= @subject.end_time.strftime("%Y-%m") %></h4>
  <h4>科目： <%= @subject.name %></h4>  
  <h4>班級： <%= @subject.grade %> 年 <%= @subject.classroom %>（<%= @subject.students %> 人）</h4>
  <h4>課程時間： <i> <%= link_to '新增課表', new_user_lesson_path(@user) %> </i></h4>
  <%= link_to '<< 班級列表', user_subjects_path(@user) %>
  <hr class="blue-hr">


  <div class="row">

    <div class="col-md-4">
      <div class="topic-aim">
        <h3>這裡是 ttopic 的單元主題</h3>  
        <br><br>

        <%= link_to 'TTopic New', new_user_subject_ttopic_path(@user, @subject) %>

        <table class="table table-stripe">

          <thead>
            <tr>
              <th>週數</th>
              <th>教學單元</th>
            </tr>
          </thead>

          
          <tbody>
            <% 1.upto(@project_weeks).each do |num| %>
            <tr>
              <th>第 <%= num %> 週</th>
              <td></td>
            <tr>
            <% end %>
          </tbody>
          
        </table>

      </div>
    </div>

    <div class="col-md-8">
      
    </div>

  </div>
</div>

<%= form_for [@user,@subject,@topic] do |f| %>
  <div class="modal fade" id="mynewpost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h5 class="modal-title" id="myModalLabel">反思／備註</h5>
        </div>

        <div class="modal-body">
          <!--輸入教學主題-->
          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control post_theme', placeholder: "輸入教學主題" %>
          </div>
          
          <!--輸入教學後的心得＆反思-->
          <!-- <div class="field"> -->
            <%#= f.label :feedback %>
            <%#= f.text_area :feedback, class: 'form-control post_feedback', placeholder: "輸入教學後的心得＆反思",rows:"6" %>
          <!-- </div> -->
          
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewpostclose">close</button>
          <%= submit_tag "create",class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %> 