<div class="main-frame">

  <%= link_to '編輯班級設定', edit_user_subject_path(@user, @subject), class: 'btn btn-outline-success' %>
  <!--
  <span class="text-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mynewpost">
      新增教學計劃
    </button>
  </span>
  -->

  <br>
  <br>
  <h4>科目： <%= @subject.name %></h4>  
  <h4>班級： <%= @subject.classroom %>（<%= @subject.students %> 人）</h4>
  <%= link_to '<< 班級列表', user_subjects_path(@user) %>

  <hr class="blue-hr">


  <div class="row">
  <!--row-->
    <div class="col-md-10">
      <div id="container_posts">
        <% if @subject.classrooms.count <= 1 %>
          <h5>新增卡片請點擊上方的「新增教學計畫」</h5>
            <% @subject.classrooms.each do |classroom|%>  
            <%= render partial:'classrooms/classroom',locals: {classroom: classroom } %>
          <% end %>
        <% else %> 
          <% @subject.classrooms.each do |classroom|%>  
            <%= render partial:'classrooms/classroom',locals: {classroom: classroom } %>
          <% end %>
        <% end %>  
      </div>

    </div>

  </div>

</div>