<%= form_for [@user, @lesson] do |f| %>
<%# 不需指定 action，名稱套用慣例 %>

  <div class="form-group">
    <%=f.label :name, "課程科目" %>
    <br/>
    <%=f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%=f.label :start_time, '時間設定' %>
    <br/>
    <%=f.datetime_select :start_time %>
  </div>

  <div class="actions">
    <% if @subject -%>
      <%= f.submit "更新這堂課", class: "btn btn-success" %>
    <% else -%>
      <%= f.submit "更新", class: "btn btn-primary" %>
    <% end -%>
  </div>

<%end %>