<%= form_for [@user, @lesson], url: {action: "create"} do |f| %>

  <div class="form-group">
    <%=f.label :name, "課程科目" %>
    <br/>
    <%=f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%=f.label :classroom, "班級名稱" %>
    <br/>
    <%=f.text_field :classroom, class: "form-control", placeholder: "ex. 1年1班" %>
  </div>

  <div class="form-group">
    <%=f.label :start_time, 'Start Time' %>
    <br/>
    <%=f.datetime_select :start_time %>
  </div>

  <div class="form-group">
    <%=f.label :event_type, '課務類別' %>
    <br/>
    <%=f.select :event_type, ["lesson", "todo", "exam"], prompt: "Select One" %>
  </div>

  <div class="form-group">
    <%=f.label :period, "每週循環" %>
    <br/>
    <%=f.select :period, Lesson::REPEATS,{} %>
  </div>

  <div class="actions">
    <%=f.submit "Create", class: "btn btn-primary" %>
  </div>

<%end %>