<%= form_for [@user, @lesson], url: {action: "create"} do |f| %>

  <div class="form-group">
    <%=f.label :name %>
    <br/>
    <%=f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%=f.label :start_time, 'Start Time' %>
    <br/>
    <%=f.datetime_select :start_time %>
  </div>

  <div class="form-group">
    <%=f.label :period, "Repeats" %>
    <%=f.select :period, Lesson::REPEATS,{} %>
  </div>

  <div class="form-group" id="frequency">
    <%=f.label :frequency, "Repeat every" %>
    <%=f.select :frequency, (1..30).to_a %> <span id = "period"></span>
  </div>

  <div class="actions">
    <%=f.submit "Create", class: "btn btn-primary" %>
  </div>

<%end %>