<div class="to_do_body" style="margin-top: 20px;"> 
  <%# 客制化各項需以逗號分開 %>
  <!--待辦清單-->
  <div id="todo_content">
  <%= calendar partial: 'simple_calendar/to_do_list_v2', number_of_days: 1, events: todos do |date, todos| %>
    <% 8.upto(18).each do |hour| %>
      <div class="day_time">
        <span class="day_time_hour"><%= Time.parse("#{hour}:00").strftime("%l %P") %></span>
        <span id="hour-<%= hour %>">
          <% todos.each do |todo| %> 
            <%- if todo.start_time.hour.between?(hour, hour + 0.9) %>
              <%# ajax %>
              <%= render partial:'events/event',locals:{todo: todo} %>
              <%# 一般版 %>
              <%#= link_to edit_user_event_path(@user, todo) do %>
                <%#= todo.title %>
              <%# end %>
            <% end -%>         
          <% end %>
        </span>
      </div>
    <% end %>
  <% end %>   
  </div>
</div> 
  
<%# ajax 版 以下為新增代辦事項的form  #############################################  %>
<%= form_for [@user, @todo] do |f| %>
  <div class="modal fade" id="todopost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%# create todo modal header %>
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">待辦事項</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
         <div class="modal-body">
          <%# modal-body 開始 %>
          <div class="form-group">
            <%= f.label '待辦事項' %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
           <div class="form-group">
            <%= f.label '開始時間' %>
            <%= f.datetime_select :start_time, start_year: Date.today.year, end_year: Date.today.year+1, start_hour: 8, end_hour: 18, ampm: true, discard_minute: true, default: Date.today.beginning_of_day + 8.hour %>
          </div>
           <%# <div class="form-group"> 暫時關閉 end_time 選項 %>
            <%#= f.label '結束時間' %>
            <%#= f.datetime_select :end_time, start_year: Date.today.year, end_year: Date.today.year+1, start_hour: 8, end_hour: 18, ampm: true, discard_minute: true, default: Date.today.beginning_of_day + 9.hour %>
          <%# </div> %>
           <%# modal-body 結束  %>
        </div>  
         <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewpostclose">取消</button>
          <%= f.submit '新增' ,class:"btn btn-primary"%>
        </div>
      <%# modal content 結束  %>
      </div>
    </div>
  </div>
<% end %>