<div class="row">
  <%= render 'shared/msg' %>

  <div class="col-12">
    <h1>編輯課程</h1>
    <%= render 'edit_form' %>
  </div>
  <br/>

  <%# buttons %>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to '編輯', user_lesson_path(@user, @lesson), class: "nav-link bg-light" %>
    </li>
    <li class="nav-item">
      <%= link_to '刪除', user_lesson_path(@user, @lesson), method: :delete, data: { confirm: '你確定要刪除嗎?' }, class: "nav-link bg-light" %>
    </li>
    <li class="nav-item">
      <%= link_to '返回', user_lessons_path, class: "nav-link bg-light" %>
    </li>
  </ul>

</div>





