<div class="row">
  <div id="lessons_calendar" class="col-9" style="padding-left:15px;">
    <div class="index-right-container">
      <%= link_to 'Listing lessons', list_user_lessons_path(@user) %>

      <div class="row">
        <div class="col-12 m-auto">
          <h2 class="text-center">
            <span id="today_link" class="pull-left">
              <%= link_to '今天', user_lessons_path(@user), class: "btn btn-secondary" %>
            </span>
            <span>我的一週課表</span>
            <span id="new_button">
              <%= link_to new_user_lesson_path(@user) do %>
                <i class="fa fa-plus-circle" style="font-size: 60px; color: #009FCC; padding-left: 10px;"></i>
              <% end %>
            <span>
          </h2>
          <hr>
          <div id="events_calendar">
            <%= render partial: "week_calendar", locals: {lessons: @lessons} %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="lessons_calendar_2" class="col-3" style="margin-top:-5px;">
    <div class="index-left-container">
      <div class="row">
        <div class="col-12">
          <%# 右上月曆 %>
          <div id="month_calendar">
            <%= render partial: "month_calendar", locals: {lessons: @lessons} %>
          </div>
          <%# ToDo List V2 %>
          <div id="todo_list">
            <%= render partial: "todo_list", locals: {todos: @todos} %>
          </div>
        </div>
      </div>       
    </div>
  </div>
</div>