<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="padding-left:60px;padding-right: 40px;">
      <div>
        <h1 class="inline-block">本週教學行程</h1>
        <%#= link_to 'Listing lessons', list_user_lessons_path(@user) %>
        <% if @user == current_user %>
          <i class="fa fa-caret-right grid" aria-hidden="true"></i> 
          <%= link_to '以列表檢視班級', user_classrooms_path(@user),style:"font-size:22px;"  %>
        <% end %>

        <h3 class="inline-block pull-right">今天日期：
          <span class="letter-sp-2"><%= Time.now.strftime("%Y/%m/%d") %></span>
        </h3>
      </div>
      <hr>
    </div> 


    <div id="lessons_calendar" class="col-8" style="margin-left:60px;margin-top: 20px;">
      <div class="index-right-container">
        <div class="row">
          <div class="col-12 m-auto">
            <span id="today_link" class="pull-left">
              <%= link_to '今天', user_lessons_path(@user), class: "btn btn-outline-dark btn-sm",style:"padding:5px 20px;font-size:15px;" %>
            </span>
            <div id="events_calendar">
              <%= render partial: "week_calendar", locals: {lessons: @lessons} %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="lessons_calendar_2" class="col-3 ml-4" >
      <div class="index-left-container">
        <div class="row">
          <div class="col-12">
            <%# 右上月曆 %>
            <div id="month_calendar">
              <%= render partial: "month_calendar", locals: {lessons: @lessons} %>
            </div>
            <%# ToDo List V2 %>
            <% if @user == current_user %>
              <div id="todo_list">
                <%= render partial: "todo_list", locals: {todos: @todos} %>
              </div>
            <% end %>
          </div>
        </div>       
      </div>
    </div>
  </div>
</div>