<div class="row">
  <div class="col-12">
    <h1>使用者課程列表</h1>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>科目</th>
          <th>班級</th>
          <th>Start time</th>
          <th>End time</th>
          <th colspan="3">#</th>
        </tr>
      </thead>

      <tbody>
        <% @lessons.each do |lesson| %>
          <tr>
            <td><%= lesson.name %></td>
            <td><%= lesson.classroom %></td>
            <td><%= lesson.start_time %></td>
            <td><%= lesson.end_time %></td>
            <td><%= link_to 'Show', user_lesson_path(@user, lesson) %></td>
            <td><%= link_to 'Edit', edit_user_lesson_path(@user, lesson) %></td>
            <td><%= link_to 'Destroy', user_lesson_path(@user, lesson), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

