<style>
.register-info{ 
  margin-top: 50px;
}
.register-info .register-content h4{
  margin-top: 60px;
}
.register-left-item{
  float: left;
}

</style>  
<section>
  <div class="home-bg">
    <!--img src="/image/banner-1.jpg" alt=""--> 
    <%= image_tag ("register-image.png") %>   
  </div>
</section>

<div class="row">
  <div class="col-5 offset-2">
    <div class="register-info">
      <h2>最好用的教師教學計畫管理平台</h2> 

      <div class="register-content">
        <div class="register-left-item">
          <i class="fa fa-calendar" aria-hidden="true" style="font-size:50px;margin-right: 10px;"></i> 
        </div> 
        
        <div class="register-right-item">
          <h4 style="padding-top: 10px;">結合日曆功能，課程安排一目了然</h4> 
        </div>
      </div>
      
      <div class="register-content">
        <div class="register-left-item">
          <i class="fa fa-files-o" aria-hidden="true" style="font-size:50px;margin-right: 10px;"></i>        
        </div>
        
        <div class="register-right-item">
          <h4>線上完整功能管理教學進度表<br>上傳各種檔案：教材及教案</h4>
        </div>
      </div>

      <div class="register-content">
        <div class="register-left-item">
          <i class="fa fa-list-alt" aria-hidden="true" style="font-size:50px;margin-right: 10px;"></i>
        </div>

        <div class="register-right-item">
          <h4>老師可在教學後進行反思<br>進行有效的課後教學進度管理</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="devise-card">
      <div class="login-container theme-color">
        <h1 class="text-center">Log in</h1>
      </div>

      <div class="login-container-in">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'login-input' %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: 'login-input' %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-lg theme-color' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>    
</div>