<div id="post_<%= teachingschedule.id %>">
  <div class="row">
    <div class="col-md-9">
      <!--教學進度表-->
       
      <div class="weekly-prepare">
        <div class="col-md-9 prepare-detail">
          <h5>
            <%= teachingschedule.classroom.name %> 
            <%= teachingschedule.theme %>  <br>
          <h5>

          <%= form_for [@classroom,teachingschedule,Aim.new],remote: true do |f| %>
 
            <div class="col-md-4">
             <div class="field">
                <%= f.label :title, "教學目標" %>
                <%= f.text_field :title,class:"form-control post_aim" %>
              </div> 

              <%= f.submit class:"label label-primary" %>
            </div> 
          <% end %>
          
          
          
          <div id="aim_posts">
            <% teachingschedule.aims.each do |aim| %> 
              <%= render :partial => 'aims/aim', locals: {aim: aim } %>               
            <% end %>
          </div> 
          
           
        </div> 

        <div class="col-md-2 prepare-storage">
          <div class="prepare-storage-icon">
            <!-- 上傳及下載資料的 modal -->
            <div class="teachfile" data-toggle="modal" data-target="#exampleModal2">
              <%= fa_icon "folder-open 2x", style: 'color:skyblue', alt: 'add file'%>
            </div>
            <!--教學回饋-->
            <div class="feedback">
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myupdatefeedback_<%= teachingschedule.id  %>">反思</button>
            </div>


          </div>
        </div> 
      </div>

    </div>

    <div class="col-md-2">
     
      <table class="table"> 
                  
          <tr>
            <th><%= teachingschedule.theme %></th>
            <th>
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myupdatepost_<%= teachingschedule.id  %>">edit</button>
              <%= link_to "destroy",  classroom_teachingschedule_path(@classroom,teachingschedule) ,method: :delete, data: { confirm: "Are you sure?"},class:"btn brn-danger",remote:true %>
            </th>
          </tr>
         
      </table>  
      
    </div>
  </div>
</div>



<!--modal - update topic posts-->
<%= form_for [@classroom,teachingschedule] ,method: :put ,remote: true do |f| %>
  <div class="modal fade" id="myupdatepost_<%= teachingschedule.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h5 class="modal-title" id="myModalLabel">Edit</h5>
          </div>

          <div class="modal-body">
            <div class="field">
              <%= f.label :theme %>
              <%= f.text_field :theme, class: 'form-control', placeholder: "輸入教學主題" %>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mypostclose">close</button>
            <%= submit_tag "Update",class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>
<!--update modal-->


<!--modal - update feedback posts -->
<%= form_for [@classroom,teachingschedule] ,method: :put ,remote: true do |f| %>
  <div class="modal fade" id="myupdatefeedback_<%= teachingschedule.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h5 class="modal-title" id="myModalLabel">Edit</h5>
          </div>

          <div class="modal-body">

            <div class="field">
              <%= f.label :feedback %>
              <%= f.trix_editor :feedback, placeholder: "輸入教學後的心得＆反思" %>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mypostclose">close</button>
            <%= submit_tag "Update",class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>
<!--update modal-->







<script>
function toggle_checkall(field_name, state) {
  var checkboxes = document.getElementsByTagName('input');
  var count = checkboxes.length;
  for (var i = 0; i < count; i++) {
    if (checkboxes[i].type == "checkbox"
        && checkboxes[i].name == field_name + "_ids[]") {
      checkboxes[i].checked = state;
    }
  }
}

$('trix-editor').css("min-height", "350px");
</script>



