<div class="container">
  <h3>
    教案資料夾
    <a href="" data-toggle="modal" data-target="#exampleModal">
      <%= fa_icon "plus-circle 2x", style: 'color: #83c867' %>
    </a>
  </h3>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">新增資料夾</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_for [@user,@plan] do |f| %>
            <div class="form-group">
            <%= f.label :subject_tag_id, "科目" %>
            <%= f.collection_select :subject_tag_id , SubjectTag.all, :id, :name, {prompt: true}, {class: "form-control"}  %>
            </div>
            <div class="form-group">
            <%= f.label :plan_folder_name, "教學主題／單元" %>
            <%= f.text_field :plan_folder_name ,class: "form-control"%>
            </div>

            <div class="form-group">
              <% if @plan.plan_folder_name.present? %>
                <%= f.submit '修改', class: 'btn btn-outline-info' %>
                <%= link_to '取消', user_plans_path(@user), class: 'btn btn-outline-danger' %>
              <% else %>
                <%= f.submit '新增', class: 'btn btn-info' %>
              <% end %> 
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <hr class="orange-hr">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <% if @plans.count == 0 %>
        <h4>你還沒有任何教案資料！</h4>
      <% else %>
        

        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">科目</th>
              <th scope="col">主題／單元</th>
              <th scope="col">上次修改日期</th>
            </tr>
          </thead>
          <tbody>
            <% @subject_tags.each do |subject| %>
              <% if subject.plans.present? %>
                <tr>
                  <th><%= subject.name %></th>
                  <td>
                    <% subject.plans.each do |plan| %>
                      <%= link_to user_plan_path(@user,plan) do %>  
                        <%= fa_icon 'folder', style: 'color:grey;' %>&nbsp;&nbsp;
                        <span><%= plan.plan_folder_name %></span> 
                      <% end %><br>              
                    <% end %>
                  </td>
                  <td>
                    <% subject.plans.each do |plan| %>
                      <%= plan.updated_at.strftime("%Y/%m/%d") %><br>
                    <% end %>
                  </td>
                </tr>

              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>

  </div>

</div>