<div class="container">
  <h1>
    教案資料夾
  </h1>
  
  <hr class="yellow-hr">
  <div class="row">
    <div class="col-md-8">
      <% if @plans.count == 0 %>
        <h4>你還沒有任何教案資料！</h4>
      <% else %>  
        <% @subject_tags.each do |subject| %>
          <% if subject.plans.present? %>
            <h4><i><%= subject.name %></i></h4>
            <% subject.plans.each do |plan| %>
            <div class="folder-block">
              <%= link_to user_plan_path(@user,plan) do %>     
                <%= fa_icon 'folder-open 4x', style: 'color:skyblue;' %>
                <p><%= plan.plan_folder_name %></p>
                
              <% end %>
            </div>
            <% end %>
          
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-4">
      <h4>新增資料夾</h4><br>
      <div class="">
        <%= form_for [@user,@plan] do |f| %>
          <div class="form-group">
          <%= f.label :subject_tag_id, "科目" %>
          <%= f.collection_select :subject_tag_id , SubjectTag.all, :id, :name, {prompt: true}, {class: "form-control"}  %>
          </div>
          <div class="form-group">
          <%= f.label :plan_folder_name, "教學主題／單元" %>
          <%= f.text_field :plan_folder_name ,class: "form-control"%>
          </div>

          <div class="form-group">
            <%= f.submit '新增', class: 'btn btn-info' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>