<%= render partial:"shared/sidebar" %> 
<div class="main-frame">
  <div class="">
    <%= link_to '資料夾設定', edit_user_plan_path(@plan.user,@plan), class: 'btn btn-outline-primary btn-sm' %>
    <%= link_to '刪除資料夾', user_plan_path(@plan.user,@plan), class: 'btn btn-danger btn-sm pull-right', method: :delete, data: {confirm: "資料夾裡的檔案也會一併刪除，你確定嗎？"} %>
  </div>

  <br>
  <h4 style="color:#55a578">教案科目：<%= @plan.subject_tag.name %></h4>
  <h4 style="color:#55a578">教學主題／單元：<%= @plan.plan_folder_name %></h4> 
  <%= link_to '<< 返回教案總覽', user_plans_path(@user) %>
  <hr class="blue-hr">
   
  <%= form_for [@user,@plan,@teachingfile], html:{multipart:true} do |f| %>
    <div class="form-group">
      <%= f.label :name, '檔案名稱' %>
      <%= f.text_field :name, class: 'form-control', placeholder: "自訂" %>
    </div>

    <div class="form-group">
      <%= f.label :attachment,'上傳附件' %>
      <%= f.file_field :attachment %>
    </div>

    <%= f.submit "上傳", class:"btn btn-primary" %>

  <% end %>

  <br>
  <table class="table table-hover">
    <h3 style="color:#45785b">上傳檔案列表</h3>
    <% @plan.teachingfiles.each do |teachingfile| %>
    <tr>
      <td style="padding-right:20px;"><%= teachingfile.name %></td>
      <td style="padding-right:20px;">
        <%= link_to teachingfile.attachment_url do%>
          <%= fa_icon 'download 2x', class: 'theme-font' %>
        <% end %>
        <%= teachingfile.attachment.file.filename %>
      </td>
      <td style="padding-right:20px;"><%= link_to '編輯',edit_user_plan_teachingfile_path(@user, @plan,teachingfile) %></td>
      <td style="padding-right:20px;"> <%= link_to '刪除', user_plan_teachingfile_path(@user, @plan,teachingfile), method: :delete, data: { confirm: "確定要刪除這個檔案嗎？"} %></td>
      
    </tr>
    <% end %>
  </table>

</div>