<!DOCTYPE html>
<html>
  <head>
    <title>K12Project</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>  

    <%= render partial: "shared/navbar" %>
    <div class="nav_margin"></div>
    <div class="container-fluid">
      <%= render partial: "shared/alert" %>
      <% if @user == current_user %>
        <%= yield %>
      <% else %>
        <div class="text-center" style="margin-top:70px; ">
          <h1>您沒有權限進入該教師的頁面進行瀏覽</h1>
          <i class="fa fa-caret-right " aria-hidden="true" style="padding:0px 10px;
    "></i> 
          <%= link_to "按此回到我的課表首頁",user_lessons_path(current_user),style:"font-size:20px;" %>
        </div>
      <% end %>
      
  
    </div>
    <script>
      var dropdown = document.getElementsByClassName("dropdown-btn");
      var i;

      for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
          } else {
            dropdownContent.style.display = "block";
          }
        });
      }
    </script>
  </body>
</html>
